*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    user-select: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: consolas;
    background-color: rgb(238, 238, 238);
}


h1{
    text-align: center;
    margin: 0;
    color:rgb(247, 110, 235);
}
.game-container{
    margin-left: 200px;
    text-align: center;
    position: relative;
    width: 300px;
}

#game{
  
    margin-top: 10px;
    display: grid;
    width: 300px;
   position: relative;
    background-color: cyan;
    grid-template-columns: 62.5px 62.5px 62.5px 62.5px;
    grid-gap: 10px;
    padding: 10px;
}

.cell{
    background-color: rgb(255, 0, 234);
    color: white;
    font-size: 20px;
   
}
#score{
    color: rgb(247, 104, 247);
}

button{
    outline: none;
    border: none;
}

.move-btn{
    outline: none;
    border: none;
    background-color: cyan;
    padding: 15px;
    color: rgb(75, 75, 75);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    font-size: 16px ;
    border: 5px solid rgb(247, 110, 213);
}

.move-btn:hover{
    background-color: rgb(247, 75, 253);
}

.btn-container{
    margin-top: 10px;
    position: relative;
}

.up-container, .down-container{
    text-align: center;
}

#left{
    float: left;
}

#right{
    float: right;
}

.left-right-container::after{
    content: "";
    clear: both;
    display: table;
}

#score{
    font-size: 20px;
}

#restart{

    width: 100%;
    position: absolute;
    top: 0;
    display: block;
    background-color: rgba(255, 255, 255, 0.904);
    border: 5px solid pink;
    height: 100%;
    text-align: center;
    padding: auto 0;
}

#restart button{
    position: relative;
    padding: 20px;
    background-color: rgb(252, 128, 221);
    border: 4px solid red;
    border-radius: 20px;
    top: 50%;
    color: white;
    font-size: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.4s;
}

#restart button:hover{
    background-color: rgb(255, 0, 76);
}

#game-over, #victory{
    position: absolute;
    display: none;
    width: 300px;
    height: 100%;
    top: 0px;
    color: white;
    font-size: 50px;
    background-color: rgba(53, 186, 238, 0.397);
    border: 5px solid rgb(255, 0, 234);
}

#game-over p,#victory p{
   margin: 0;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
}